<ul class="nav">

    <li class="title">VTubers Info</li>
    <li class="item"> <a href="/vshoujo"> VShoujo </a> </li>
    <li class="item"> <a href="/nijisanji"> Nijisanji </a> </li>
    <li class="item"> <a href="/hololive"> Hololive </a> </li>
    <li class="item"> <a href="/"> Home </a> </li>




</ul>

<h1>
    {{title}}
</h1>