<header>
    <nav class="header">
        <ul class="nav">
            <li>VTubers Info</li>
            <li>Hololive</li>
            <li>Nijisanji</li>
            <li>VShoujo</li>
        </ul>
    </nav>
</header>